<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="Email" value="" />
  <add key="Password" value="" />
  <add key="ImapServer" value="imap.gmail.com" />
  <add key="ImapPort" value="993" />
  <add key="SearchEmail" value="web.jms@keells.com" />
  <add key="emailSubject" value="Keells E-Bill" />
  <add key="FolderPath" value="C:\Emails\" />
</appSettings>
